
trigger:
  branches:
    include:
      - main

variables:
  azureSubscription: 'AzureServiceConnection'
  webAppName: 'AS-WillyEcommerce'

stages:

# -------------------------
# BUILD STAGE
# -------------------------
- stage: Build
  displayName: Build and Test
  jobs:
  - job: BuildJob
    pool:
      vmImage: 'ubuntu-latest'

    steps:

    - task: NodeTool@0
      inputs:
        versionSpec: '18.x'
      displayName: 'Install Node.js'

    - script: |
        npm install
        npm run build --if-present
      displayName: 'Install Dependencies & Build'

    - script: |
        npm test --if-present
      displayName: 'Run Tests'

    - task: ArchiveFiles@2
      inputs:
        rootFolderOrFile: '$(System.DefaultWorkingDirectory)'
        includeRootFolder: false
        archiveType: 'zip'
        archiveFile: '$(Build.ArtifactStagingDirectory)/app.zip'
      displayName: 'Archive Application'

    - task: PublishBuildArtifacts@1
      inputs:
        pathToPublish: '$(Build.ArtifactStagingDirectory)'
        artifactName: 'drop'
      displayName: 'Publish Artifact'


# -------------------------
# DEPLOY STAGE
# -------------------------
- stage: Deploy
  displayName: Deploy to Azure Web App
  dependsOn: Build
  condition: succeeded()

  jobs:
  - deployment: DeployWebApp
    environment: 'production'
    pool:
      vmImage: 'ubuntu-latest'

    strategy:
      runOnce:
        deploy:
          steps:

          - download: current
            artifact: drop

          - task: AzureWebApp@1
            displayName: 'Deploy to Azure App Service'
            inputs:
              azureSubscription: $(azureSubscription)
              appName: $(webAppName)
              package: '$(Pipeline.Workspace)/drop/app.zip'
